@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    /* 웹 사이트에 Noto Sans KR폰트 적용하기임 ,전까지 */
    /* snas-serif: 고딕체 걔열이다, */
    /* !important: css는 같은 소겅을 여러 번 정의했을 때, 나중에 설정한 값이 적용된다. 만약 나중에 설정한 값이 적용되지 않게 하려면 속성값뒤에 !important를 붙인다. */
  font-family: "Noto Sans KR", sans-serif !important;

  /* 참고 사이트: https://codingbroker.tistory.com/56 */
  /* html에는 기본적으로 padding 8이 있어서 위에 공백 생긴거였음 */
  /* body태그에 margin 0으로 설정해줘서 해결해싸!! */
  margin:0;
  padding:0;
  margin:0;
  
  
}
@media screen and(max-width:768px){
    body{padding-top:0px;}
}


/* 좌우 나눠 */
/* 참고 사이트: https://ghj1001020.tistory.com/659 */
.ban{
  width:100%;
  height:910px;
  /* border: 1px solid #000; */
}
.ban .leftt{

  /* 사진 중앙정렬 부모 */
  width:400px;
  padding:250px 0;
  

  /* 가로 50%만 사용 */
  width: 50%;
  /* 세로 910맞춰 */
  height:910px;
  /* 왼쪽으로 위치하도록 */
  float: left;
  box-sizing: border-box;
  /* border: 1px solid #000; */

  background: #ff0;

}
.ban .rightt{
  width: 50%;
  float:right;
  box-sizing:border-box;
  background: #0ff;

  
}

.rightt.textBox{
  position: relative;
  height: 150px;
  background: #999FF0;
}
.rightt.textBox p{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}


/* 내 사진 둥굴게 */
/* 참고 사이트: https://gofnrk.tistory.com/28 */
.box{
  margin-top:20px;
  width: 450px;
  height: 450px; 
  /* border-radius: 500px 200px 500px 200px; */

  border-radius: 50%;
  overflow: hidden;
}
/* .box:after{
  vertical-align:middle;
} */

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 내 증명사진 위치 조절할 때 사용해줘,,, */
div.circle2 {
  width: 450px; height:450px; 
  /* border-radius: 80%; */
  margin:0px auto;
  background-color: #fff;
  /* margin: -90px 0px 0px 350px;  */
  position: relative;
  box-shadow: inset 0 0 0 16px #fff;
  transition: all 1s ease-in-out;
}
.circle2 .textBox{
  width: 100%; height:100%; border-radius: 50%;
  text-align: center;
  color: black;
  position:absolute; left: 0; top:0;
  margin: -20px 0px 0px 0px; 
  /* padding: 60px 20px; */
  box-sizing: border-box;
  transition: all 1s ease-in-out;
  opacity: 0;
  transform: scale(0);
}
div.circle2:hover{  
  box-shadow: 
  inset 0 0 0 100px #336699;
}
div.circle2:hover .textBox {opacity: 1;transform: scale(1);}

.texttext{
  z-index: 999;
  text-align: center;
  /* width:100%; */
  /* height:100%; */
  position:relative;
  top:50%;
}
.texttext:hover{
  display: none;
  opacity: 0;
}



/* about me 내 사진 밑에 있는 네모 박스임 */
.right_box{
  /* background-color: #fff; */
  width: 1000px;
  height:700px;
  padding:120px;
  margin: 100px 0px 0px 850px;

}
.rightright{
  height:100%;
  width:100%;
}


/* 구멍 hover */
div.circle {
  width: 300px; height: 300px; 
  border-radius: 50%;
  margin:0px auto;
  background-color: white;
  margin: 20px 175px; 
  position: relative;
  box-shadow: inset 0 0 0 16px #6699FF;
  transition: all 1s ease-in-out;
}
.circle .textBox{
  width: 100%; height:100%; border-radius: 50%;
  text-align: center;
  color: black;
  position:absolute; left: 0; top:0;
  margin: -20px 0px 0px 0px; 
  /* padding: 60px 20px; */
  box-sizing: border-box;
  transition: all 1s ease-in-out;
  opacity: 0;
  transform: scale(0);
}
div.circle:hover{  
  box-shadow: 
  inset 0 0 0 100px #336699;
}
div.circle:hover .textBox {opacity: 1;transform: scale(1);}

.rightt{
  
}




.hi{
  flex-wrap:nowrap;
  display:flex;
  max-width: 100%;
}

.lang{
  font-family:  'Fredoka One', cursive;
  position: relative;
  z-index: 999;
}
.lang:hover{
  color: beige;
  display: none;
  text-indent: -9999px;
  overflow: hidden;
}



/* 스킬 동그라미 */
.skill{
  width: 160px;
  height: 160px;
  /* background: cornflowerblue; */
  position: relative;
  /* z-index: 600; */
}
.skill .outer{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding:20px;
  box-shadow:6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.7)

}
.skill .outer .inner{
  height:120px;
  width:120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
              -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
              0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
              0px 12px 10px -10px rgba(0, 0, 0, 0.05);

  /* border: 1px solid red; */
  /* z-index: 601; */

}

#number{
  font-weight:600;
  /* color:#d8a9a9; */
}

circle{
  fill:none;
  stroke:url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray:472;
  stroke-dashoffset: 472;
  animation:anim 2s linear forwards;

}

svg{
  position: absolute;
  top:0;
  left:0;
}

@keyframes anim {
  100%{
      /* 계산식: n-n * 0.65 n=472 */
      stroke-dashoffset:165;
  }
  
} 


/*  */


