/* 구글 폰트 적용링크 가져옴 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    /* 웹 사이트에 Noto Sans KR폰트 적용하기임 ,전까지 */
    /* snas-serif: 고딕체 걔열이다, */
    /* !important: css는 같은 소겅을 여러 번 정의했을 때, 나중에 설정한 값이 적용된다. 만약 나중에 설정한 값이 적용되지 않게 하려면 속성값뒤에 !important를 붙인다. */
  font-family: "Noto Sans KR", sans-serif !important;

  /* 참고 사이트: https://codingbroker.tistory.com/56 */
  /* html에는 기본적으로 padding 8이 있어서 위에 공백 생긴거였음 */
  /* body태그에 margin 0으로 설정해줘서 해결해싸!! */
  margin:0;
  padding:0;
  margin:0;

  /* background: #e3edf7;
  height:100vh;
  display: flex; */
  align-items: center;
  justify-content: center;
  
  
}
@media screen and(max-width:768px){
    body{padding-top:0px;}
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* a태그는 모두 이렇게 만들어라 */
a {
  /* color: inherit; */
  /* 글씨 색은 흰색 */
  color:#66CCFF;
  /* css에서 decoration은 글씨에 밑줄이나 윗줄, 중간줄을 넣을 때 text-decoration을 사용한다 */
  /* none이면 기본값으로 밑줄이 없는 보퉁 글자이다. */
  /*참고 사이트 https://aboooks.tistory.com/177 */
  text-decoration: none;
  
}

/* section태그는 모두 이렇게 만들어라 원래 있던 코드임.
section {
    중앙정렬
  text-align: center;
} */

/* s222ection{ */
  /* 상단 고정_ 스크롤 내려도 계속 보이게 하고 싶음 (내가 추가함) */
  /* position:fixed;
  text-align: center;
  height: 100px;
  margin: 0 auto;
  margin-bottom:100%;
  left:0;
  right:0;
  z-index: 100; */
  /* 투명하게 설정 */
  /* opacity: 0.5; */
  
/* } */


/* section 안에 있는 div만 해당 section 밖에 있는 div는 해당x */
section > div {
    /* 참고 사이트:  https://ofcourse.kr/css-course/display-%EC%86%8D%EC%84%B1#inline-block*/
    /* inline-block은 block과 inline의 중간 형태라고 볼 수 있다. */
    /* 줄바꿈이 되지 않지만 크기를 정할 수 있다. -> div의 크기를 정한 느낌이다.*/
  display: inline-block;
  /* 배경 색은 연보라색?? */
  background-color: #fFF;
  /* padding은 안쪽 여백을 의미한다. */
  /* 0 0 0 0이렇게 지정할 수 있는데 차례대로  위 오른쪽 아래 왼쪽이다.*/
  /* 지금 상황은 세로0 가로30을 지정한 거 같다. */
  padding: 0 30px 20px;
  /* border-radious는 사각형의 꼭짓점을 둥글게 만들 수 있는 속성이다.  */
  border-radius: 0px;
  /* 가로 다 채워버려! */
  display:flex;
  height: 100px;
}

/* section, div안에 있는 nav만 해당 */
section > div > nav {
  display: inline-block;
  
}

section > div > nav > a {
  text-align:center;
    /* display: block은 요소를 block 요소처럼 표시한다.  */
    /* 요소 앞 뒤로 줄바꿈이 된다. */
  display: block;
  padding: 15px 200px 20px 130px;
  /* padding: 15px 500px 20px 0px; */
  width:auto;
  /* 글씨 사이즈를 정해줬다 */
  font-size: 20px;
  display: flex;
  
}

/* 참고 주소:  https://coding-restaurant.tistory.com/170*/
/* :hover은 가상클래스 문법이다. (pseudo-class)문법 */
/* a:hover -> a태그를 마우스를 롤오버 했을 때 나타내라. */
section > div > nav > a:hover {
    /* 배경색 연연분홍 */
  /* background-color: #fdf3f3; */
  /* 글씨 색 연분홍 자홍색? */
  color: #d8a9a9;
  /*cursor 속성은 요소 위에 마우스 커서가 올라갔을 때 보여줄 모양을 지정한다. */
  /* pointer은 링크를 나타내는 포인터이고 보통 한 쪽을 가리키는 손이다. */
  /* 마우승 모양 바뀜 */
  cursor : pointer;
  height: 45px;

  
}

/* div.content>div.typing2>span:hover{
  transform: scale(2);
  transition-duration: 0.5s;
} */


/* 상단바랑 밑에 div랑 겹치는 문제 해결해줌 */
/* 참고 사이트: https://www.caktusgroup.com/blog/2017/10/23/css-tip-fixed-headers-and-section-anchors/ */
.ff{
    position: absolute;
    left:0px;
    top:100px;
    width: 100%;
}

/* 상단바 크기 조절 */
.floating-menu{
  position:fixed;
  height: 50px;
  width:100%;
  z-index: 500;
  display:flex;
}

/* 상단바에서 메뉴 클릭했을 시 스크롤 밑으로 내려가게 내가 만듬*/
.section-01,.section-02{position: relative; height:1100px; width: 100%;}
.section-03{position: relative; height:870px; width:100%;}
.section-01{background-color: #99CCCC;}
.section-02{background-color:#d8a9a9}
.section-03{background-color:#99CCCC}

/* scroll이동시 부드럽게 움직이는 효과를 낼 수 있다 */
html{
    scroll-behavior:smooth;
}



/* home 꾸미기 */
.home{
  /* text-align:center; */
  background-color: #99FFCC;
  /* position: absolute;
  top: 50px;
  left: 50px;
  transform: translateX(50%); */

  /* 요기있는 요소들로 중앙비슷하게 넣음ㅋㅋ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  vertical-align: middle;

}

/* 글씨 움직이에 하는 거임 촤라락 타이핑 하는 느낌 */
p.typing-txt {
  display: none;
}

.typing {
  /*       position: absolute;*/
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  border-right: 1px solid #ccc;
  
  /* background-color: #99FFCC; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* vertical-align: middle; */
  /* font-size: 50px; */
  z-index: 500;
}

@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}
/* 배움에 열정을 가지고 있는~~ */
.typing2{
  
  font-size: x-large;
}

/* 그림 위에 글씨 올리기 */
.img{
  position: relative;
  background-image: url(/images/cloud.gif);                                                               
  height: 100vh;
  background-size: cover;
}

.img-cover{
   position: absolute;
   height: 100%;
   width: 100%;
   /* background-color: rgba(0, 0, 0, 0.7);                                                                  */
   z-index:1;
}

.img .content{
   position: absolute;
   /* 내이름 포트폴리오 위치 조정 */
   top:50%;
   left:50%;
   transform: translate(-50%, -50%);                                                                   
   font-size:5rem;
   color: white;
   z-index: 2;
   text-align: center;
}


/* 류희정 배움 열정 호버 적용 */
.img .content .typing2 .namehover:hover{
  cursor : pointer;
  transform: scale(2);
  transition-duration: 0.5s;
  color:#99FFCC;
}

.imgbox{
    width:100px;
    height:100px;
    overflow:hidden;
    margin:0 auto;
}

.realimg{
  width:100%;
  height:100%;
  object-fit:cover;
}
.hi1:hover{
  background-color: beige;
}









